body {
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    min-height: 90vh;
    background-color: #f4f4f4;
}
#pokedex-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
